body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.post {
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 50px
}

.encabezado {
    height: 60px;
    width: 400px;   
    align-items: center;
    display: flex;
       
}
.logo {
    height: 50px;
    width: 50px;
    font-size: 35px;
    padding-left: 10px;
    padding-top: 10px;
}
.text {
    height: 50px;
    width: 400px;
    justify-content: space-between;
    font-size: small;
    padding-top: 3px;
    padding-bottom: 10px;
    
}
.menu {
    height: 50px;
    width: 30px;
    font-size: 25px;
    padding-top: 20px;
    justify-content:right
    
}
.jpg {
    height: 400px;
    width: 400px;
}
.foto {
      height: 400px;
      width: 400px;
      align-items: center;
}
.iconos  {
    height: 50px;
    width: 400px;
    font-size: 25px;
    align-items: center;
    display: flex;
    }
.iconosizq {
    height: 50px;
    width: 340px;
    padding-top: 30px;
    padding-left: 10px;
}
.iconoder {
    height: 50px;
    width: 20px;
    padding-top: 30px;
    padding-left: 10px;
    float:right;
}
.likes {
    height: 50px;
    width: 400px;
    background-color: white;
    align-items: center;
    margin-bottom: 0px;
}
.desc {
    height: 120px;
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-top: 0px;
    font-size: small;
}